{% extends 'Dashboard/navbar.html' %}
{% block body %}
<div class="row px-4">
    <div class="col-md-5 my-3 mt-4">
        <div class="card card-body">
            <h5>Student Information</h5>
            <hr>
            <p>Name: {{student.name}}</p>
            <p>Email: {{student.email}}</p>
            <p>Phone No: {{student.phone}}</p>
            
        </div>
    </div>
    <div class="col-md-4 mx-5 mt-5 mb-4">
        <a href="" class="text-decoration-none">
            <div class="card text-center text-white bg-info p-3">
                <h6> Total Events  registered </h6>
                <hr>
                <h1 class="mt-2 mb-0">{{event_registrations_count}}</h1>
            </div>
        </a>
    </div>
</div>

<div class="card-border-0 shadow-sm mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead style="background-color: yellow;">
                    <tr>
                        <th scope="col"> Events Registered</th>
                        <th scope="col">Date</th>

                    </tr>
                </thead>
                <tbody>
                    {% for registration in event_registrations %}
                    <tr>
                        <td>{{registration.event_name.title}}</td>
                        <td>{{registration.date}}</td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock body %}